body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



header {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    position: sticky;
}

h1, h2, h3, nav a, .close .undertext {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    text-align: center;
    max-height: 300px;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover {
    color: #f00;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-top: 10px;
    padding-right: 40px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px; 
}

.courses {
    margin: 40px 0;
}

.container {
    display: flex;
}

.course {
    flex: 0 0 20%;
    margin-right: 20px;
}

.course img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.course img {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9), 0 0 40px rgba(255, 255, 255, 0.9);
}

/* Стили для контейнера с анимацией кода */
.code-animation-container {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Темно-прозрачный фон контейнера */
    border: 1px solid #ccc;
    padding: 20px;
    overflow: hidden;
    width: 300px; 
    max-height: 70vh; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для элемента с анимацией кода */
#code-animation {
    font-family: monospace;
    overflow-y: auto;
    max-height: calc(70vh - 40px);
    color: yellow; /* Цвет текста кода */
}


@media screen and (max-width: 768px) {
    .code-animation-container {
        right: 2%;
        width: 250px; 
    }
}


.modal-content {
    color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); 
}

.undertext{
    color:#fff;
    text-align: center;
    padding: 20px;
}
