body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px; /* Добавлено расстояние между ссылками */
}

.courses {
    margin: 40px 0;
}

.container {
    display: flex;
}

.course {
    flex: 0 0 20%;
    margin-right: 20px;
}

.course img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.motivation {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
