body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/Background2.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

h1, h2, h3, nav a, .close {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px; 
}

.courses {
    margin: 40px 0;
}

.container {
    display: flex;
}

.course {
    flex: 0 0 20%;
    margin-right: 20px;
}

.course img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.course img {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9), 0 0 40px rgba(255, 255, 255, 0.9);
}

footer {
    background: linear-gradient(to left, #05cdff, #0000ff);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 12px;
}

.motivation {
    background: linear-gradient(to left, #05cdff, #0000ff);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.modal-content {
    color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); 
}
